<link rel='stylesheet' href='/infinitum/stylesheets/style.css'/>

<div id="inner-cell">
    <div class="contest-header">
    </div>

    <div class="prize-container">
        <p>Instructions</p>
        <ol>
            <li>The contest will be of 24hrs duration with around 30 problems of varying difficulty.</li>
            <li>It is an individual event.</li>
            <li>Input for each question will be provided. You just need to submit the corresponding output.</li>
            <li>You can make any number of submissions for the problem.</li>
            <li>You can proceed to next problem only if you have solved current problem.</li>
            <li>Each question will have some points which will be rewarded if you have solved that problem.</li>
            <li>The total score of any participant is the sum of their scores of each of the attempted problems.</li>
            <li>Participants are ranked according to their scores. Cumulative time taken to solve the challenge is used as a tie-breaker.</li>
            <li>Top 3 participants and top participant from 1st year of IIIT Allahabad will be awarded with cash prizes.</li>
        </ol>
    </div>

    <div class="prize-container">
        <p>Prizes</p>
        <p> To be declared soon</p>
        <div id="register-button-row">
            <div id="register-button"> REGISTER</div>
        </div>
    </div>

    <div class="prize-container last-container">
        <p>About Us</p>
        <p>
            <a href="aparoksha.iiita.ac.in">aparoksha.iiita.ac.in</a>
        </p>
        <p>
            Aparoksha is an annual technological extravaganza organized by the student community at the Indian
            Institute of Information Technology, Allahabad. The second edition will be held from 2nd - 4th
            April, 2016. Aparoksha hosts a plethora of events like Hackathons, Lectures, talks and Workshops
            alongside one of the largest competitive coding event in India – Alkhwarizm.
        </p>
        <p>Virtual Reality will be a running theme across all events during the 3 day festival that will
            celebrate technological innovation and research and support the idea of Digital India. Today Virtual
            Reality is helping create computer simulated environments that are slowly but steadily blurring the
            lines between the real and the virtual world bring us close to an age of unseen technological
            marvels.</p>
    </div>

    <div class="prize-container last-container">
        <p>Contacts</p>
        <p>
            For any queries contact Shiv Dhingra iit2013037@iiita.ac.in
        </p>
    </div>


</div>