<link rel='stylesheet' href='/infinitum/stylesheets/problem.css'/>
<link rel='stylesheet' href='/infinitum/stylesheets/submissions.css'/>

<div id="inner-cell">
    <div class="contest-header">
        <div class="aparoksha-logo"></div>
        <div class="schedule-caption"> Infinitum, April 1 </div>
    </div>

    <div class="problem-container">
        <div class="sub-title"><p> Leaderboard </p></div>

        <table>
            <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Score</td>
            </tr>
            </thead>
            <tbody>
            <% var i = 1; %>
            <% usersArray.forEach(function(user) { %>
            <tr>
                <td> <%=i%> </td> <% i++; %>
                <td> <%=user.userName%> </td>
                <td> <%=user.score%> </td>
            </tr>
            <% }); %>
            </tbody>
        </table>

    </div>
</div>