.contest-header {
    position: relative;
    background-image: url("../images/drone.jpg");
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-box-shadow: inset 0px -75px 167px -66px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -75px 167px -66px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -75px 167px -66px rgba(0, 0, 0, 0.75);

    width: 100%;
    height: 100px;
    text-align: center;

    display: table;
    /*padding-top: 300px;*/
}