<link rel='stylesheet' href='/stylesheets/problem.css'/>

<style>
    .fb-comments, .fb-comments * {
        width:100% !important;
    }
    .problem-container {
        padding: 10px;
        text-align: center;
    }
</style>


<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1004684299610349";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="inner-cell">
    <div class="contest-header">
        <div class="aparoksha-logo"></div>
        <div class="schedule-caption"> Online coding contest April 1, 6 PM</div>
    </div>

    <div class="problem-container">
        <div class="fb-comments" data-href="https://128.199.124.194" data-width="990" data-numposts="1"></div>
    </div>
</div>
