<link rel='stylesheet' href='/stylesheets/problem.css'/>

<div id="inner-cell">
    <div class="contest-header">
        <div class="aparoksha-logo"></div>
        <div class="schedule-caption"> Online coding contest March 30, 2016</div>
    </div>


</div>